@import "tailwindcss";
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg: #ffffff;
  --text-primary: #171717;
  --text-secondary: #525252;
  --text-muted: #a1a1a1;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --bg: #0a0a0a;
  --text-primary: #fafafa;
  --text-secondary: #a1a1a1;
  --text-muted: #525252;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-muted: var(--text-muted);
  --font-mono: var(--font-mono);
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
}
